@import './brand.css';
@import './alias.css';

/* Context tokens */

:root {
  --color-text-headings: var(--color-neutral-900);
  --color-text-body: var(--color-neutral-800);
  --color-text-action: var(--color-primary-500);
  --color-text-action-hover: var(--color-primary-700);
  --color-text-disabled: var(--color-neutral-300);
  --color-text-information: var(--color-information-500);
  --color-text-success: var(--color-success-500);
  --color-text-warning: var(--color-warning-500);
  --color-text-error: var(--color-error-500);
  --color-text-on-action: var(--color-neutral-white);
  --color-text-on-disabled: var(--color-neutral-600);
  --color-text-placeholders: var(--color-neutral-600);

  --color-surface-page: var(--color-neutral-white);
  --color-surface-primary: var(--color-neutral-white);
  --color-surface-secondary: var(--color-secondary-500);
  --color-surface-action: var(--color-primary-500);
  --color-surface-action-hover: var(--color-primary-700);
  --color-surface-action-hover-2: var(--color-primary-50);
  --color-surface-error: var(--color-error-100);
  --color-surface-warning: var(--color-warning-100);
  --color-surface-success: var(--color-success-100);
  --color-surface-information: var(--color-information-100);
  --color-surface-disabled: var(--color-neutral-100);
  --color-surface-hover-grey: var(--color-grey-200);
  --color-surface-disabled-selected: var(--color-neutral-400);
  --color-surface-neutral: var(--color-neutral-900);
  --color-surface-image-background: var(--color-grey-50);
  --color-surface-search-input: var(--color-grey-50);

  --color-icon-action: var(--color-primary-500);
  --color-icon-primary-dark: var(--color-primary-600);
  --color-icon-action-hover: var(--color-primary-700);
  --color-icon-on-action: var(--color-neutral-white);
  --color-icon-on-disabled: var(--color-grey-600);
  --color-icon-neutral: var(--color-grey-900);
  --color-icon-secondary: var(--color-neutral-500);
  --color-icon-information: var(--color-information-600);
  --color-icon-success: var(--color-success-500);
  --color-icon-warning: var(--color-warning-500);
  --color-icon-error: var(--color-error-500);
  --color-icon-information-75: var(--color-transparent-secondary-75);

  --color-border-primary: var(--color-neutral-200);
  --color-border-secondary: var(--color-primary-500);
  --color-border-information: var(--color-information-500);
  --color-border-success: var(--color-success-500);
  --color-border-warning: var(--color-warning-500);
  --color-border-error: var(--color-error-500);
  --color-border-disabled: var(--color-neutral-300);
  --color-border-action: var(--color-primary-500);
  --color-border-action-hover: var(--color-primary-700);
  --color-border-focus: var(--color-primary-500);
  --color-border-neutral-black: var(--color-neutral-900);
  --color-border-neutral-white: var(--color-neutral-white);

  --color-gradient-primary-start: var(--color-primary-500);
  --color-gradient-primary-end: var(--color-teal-500);
  --color-gradient-secondary-start: var(--color-primary-500);
  --color-gradient-secondary-end: var(--color-blue-700);

  --colors-shadow-strong: var(--color-transparent-primary-10);
  --colors-shadow-light: var(--color-transparent-primary-5);

  --desktop-font-size-body-sm: var(--scale-300-12);
  --desktop-font-size-body-md: var(--scale-400-16);
  --desktop-font-size-body-lg: var(--scale-500-20);
  --desktop-font-size-heading-h1: var(--scale-1200-48);
  --desktop-font-size-heading-h2: var(--scale-1100-44);
  --desktop-font-size-heading-h3: var(--scale-900-36);
  --desktop-font-size-heading-h4: var(--scale-700-28);
  --desktop-font-size-heading-h5: var(--scale-500-20);
  --desktop-font-size-heading-h6: var(--scale-400-16);
  --desktop-font-size-heading-overline: var(--scale-400-16);
  --desktop-font-size-action-button: var(--scale-400-16);
  --desktop-line-height-body-sm: var(--scale-500-20);
  --desktop-line-height-body-md: var(--scale-600-24);
  --desktop-line-height-body-lg: var(--scale-800-32);
  --desktop-line-height-heading-h1: var(--scale-1300-52);
  --desktop-line-height-heading-h2: var(--scale-1200-48);
  --desktop-line-height-heading-h3: var(--scale-1000-40);
  --desktop-line-height-heading-h4: var(--scale-900-36);
  --desktop-line-height-heading-h5: var(--scale-600-24);
  --desktop-line-height-heading-h6: var(--scale-500-20);
  --desktop-line-height-heading-overline: var(--scale-600-24);
  --desktop-line-height-action-button: var(--scale-600-24);
  --desktop-font-weight-heading-h1: var(--font-weight-bold);
  --desktop-font-weight-heading-h2: var(--font-weight-bold);
  --desktop-font-weight-heading-h3: var(--font-weight-bold);
  --desktop-font-weight-heading-h4: var(--font-weight-bold);
  --desktop-font-weight-heading-h5: var(--font-weight-bold);
  --desktop-font-weight-heading-h6: var(--font-weight-bold);
  --desktop-font-weight-heading-overline: var(--font-weight-bold);
  --desktop-font-weight-action-button: var(--font-weight-bold);
  --desktop-paragraph-spacing-body-sm: var(--scale-300-12);
  --desktop-paragraph-spacing-body-md: var(--scale-400-16);
  --desktop-paragraph-spacing-body-lg: var(--scale-500-20);
  --desktop-paragraph-spacing-heading-h1: var(--scale-1200-48);
  --desktop-paragraph-spacing-heading-h2: var(--scale-1000-40);
  --desktop-paragraph-spacing-heading-h3: var(--scale-900-36);
  --desktop-paragraph-spacing-heading-h4: var(--scale-800-32);
  --desktop-paragraph-spacing-heading-h5: var(--scale-700-28);
  --desktop-paragraph-spacing-heading-h6: var(--scale-600-24);
  --desktop-paragraph-spacing-heading-overline: var(--scale-400-16);
  --desktop-paragraph-spacing-action-button: var(--scale-400-16);
  --desktop-spacing-heading-overline: var(--scale-50-2);
  --desktop-spacing-action-button: var(--scale-50-2);

  --mobile-font-size-body-sm: var(--scale-300-12);
  --mobile-font-size-body-md: var(--scale-400-16);
  --mobile-font-size-body-lg: var(--scale-500-20);
  --mobile-font-size-heading-h1: var(--scale-850-34);
  --mobile-font-size-heading-h2: var(--scale-800-32);
  --mobile-font-size-heading-h3: var(--scale-700-28);
  --mobile-font-size-heading-h4: var(--scale-500-20);
  --mobile-font-size-heading-h5: var(--scale-400-16);
  --mobile-font-size-heading-h6: var(--scale-300-12);
  --mobile-font-size-heading-overline: var(--scale-300-12);
  --mobile-font-size-action-button: var(--scale-400-16);
  --mobile-line-height-body-sm: var(--scale-500-20);
  --mobile-line-height-body-md: var(--scale-600-24);
  --mobile-line-height-body-lg: var(--scale-800-32);
  --mobile-line-height-heading-h1: var(--scale-900-36);
  --mobile-line-height-heading-h2: var(--scale-800-32);
  --mobile-line-height-heading-h3: var(--scale-700-28);
  --mobile-line-height-heading-h4: var(--scale-500-20);
  --mobile-line-height-heading-h5: var(--scale-400-16);
  --mobile-line-height-heading-h6: var(--scale-300-12);
  --mobile-line-height-heading-overline: var(--scale-300-12);
  --mobile-line-height-action-button: var(--scale-600-24);
  --mobile-font-weight-heading-h1: var(--font-weight-bold);
  --mobile-font-weight-heading-h2: var(--font-weight-bold);
  --mobile-font-weight-heading-h3: var(--font-weight-bold);
  --mobile-font-weight-heading-h4: var(--font-weight-bold);
  --mobile-font-weight-heading-h5: var(--font-weight-bold);
  --mobile-font-weight-heading-h6: var(--font-weight-bold);
  --mobile-font-weight-heading-overline: var(--font-weight-bold);
  --mobile-font-weight-action-button: var(--font-weight-bold);
  --mobile-paragraph-spacing-body-sm: var(--scale-300-12);
  --mobile-paragraph-spacing-body-md: var(--scale-400-16);
  --mobile-paragraph-spacing-body-lg: var(--scale-500-20);
  --mobile-paragraph-spacing-heading-h1: var(--scale-1000-40);
  --mobile-paragraph-spacing-heading-h2: var(--scale-800-32);
  --mobile-paragraph-spacing-heading-h3: var(--scale-700-28);
  --mobile-paragraph-spacing-heading-h4: var(--scale-600-24);
  --mobile-paragraph-spacing-heading-h5: var(--scale-500-20);
  --mobile-paragraph-spacing-heading-h6: var(--scale-400-16);
  --mobile-paragraph-spacing-heading-overline: var(--scale-400-16);
  --mobile-paragraph-spacing-action-button: var(--scale-400-16);
  --mobile-spacing-heading-overline: var(--scale-50-2);
  --mobile-spacing-action-overline: var(--scale-50-2);

  --border-width-button: var(--border-width-sm);
  --border-width-form-field: var(--border-width-sm);
  --border-width-pills: var(--border-width-sm);
  --border-width-notification: var(--border-width-sm);
  --border-width-focus: var(--border-width-md);

  --border-radius-button: var(--border-radius-sm);
  --border-radius-form-field: var(--border-radius-sm);
  --border-radius-pills: var(--border-radius-sm);
  --border-radius-notification: var(--border-radius-md);
}
