@import 'tailwindcss';
@import 'tw-animate-css';
@import './styles/brand.css';
@import './styles/alias.css';
@import './styles/mapped.css';

@custom-variant dark (&:is(.dark *));

:root {
  /* Mobile base tokens (default) */
  --token-text-sm: var(--mobile-font-size-body-sm);
  --token-text-sm--line-height: var(--mobile-line-height-body-sm);
  --token-text-md: var(--mobile-font-size-body-md);
  --token-text-md--line-height: var(--mobile-line-height-body-md);
  --token-text-lg: var(--mobile-font-size-body-lg);
  --token-text-lg--line-height: var(--mobile-line-height-body-lg);

  --token-text-h1: var(--mobile-font-size-heading-h1);
  --token-text-h1--line-height: var(--mobile-line-height-heading-h1);
  --token-text-h1--font-weight: var(--mobile-font-weight-heading-h1);
  --token-text-h2: var(--mobile-font-size-heading-h2);
  --token-text-h2--line-height: var(--mobile-line-height-heading-h2);
  --token-text-h2--font-weight: var(--mobile-font-weight-heading-h2);
  --token-text-h3: var(--mobile-font-size-heading-h3);
  --token-text-h3--line-height: var(--mobile-line-height-heading-h3);
  --token-text-h3--font-weight: var(--mobile-font-weight-heading-h3);
  --token-text-h4: var(--mobile-font-size-heading-h4);
  --token-text-h4--line-height: var(--mobile-line-height-heading-h4);
  --token-text-h4--font-weight: var(--mobile-font-weight-heading-h4);
  --token-text-h5: var(--mobile-font-size-heading-h5);
  --token-text-h5--line-height: var(--mobile-line-height-heading-h5);
  --token-text-h5--font-weight: var(--mobile-font-weight-heading-h5);
  --token-text-h6: var(--mobile-font-size-heading-h6);
  --token-text-h6--line-height: var(--mobile-line-height-heading-h6);
  --token-text-h6--font-weight: var(--mobile-font-weight-heading-h6);

  --token-text-overline: var(--mobile-font-size-heading-overline);
  --token-text-overline--line-height: var(--mobile-line-height-heading-overline);

  --token-text-action-button: var(--mobile-font-size-action-button);
  --token-text-action-button--line-height: var(--mobile-line-height-action-button);
  --token-text-action-button--font-weight: var(--mobile-font-weight-action-button);

  /* Theme variables - container */
  --theme-container-6xl: 120rem; /* max for content */
  --theme-container-7xl: 160rem; /* max for full-width elements */

  /* Theme variables - shadow */
  --theme-shadow-xs: var(--spacing-none) var(--spacing-0-25) var(--spacing-3) var(--spacing-0-25)
    var(--colors-shadow-light); /* shadow-default (1dp) */
  --theme-shadow-sm:
    var(--spacing-none) var(--spacing-0-25) var(--spacing-3) var(--spacing-0-25) var(--colors-shadow-light),
    var(--spacing-none,) var(--spacing-0-5) var(--spacing-2,) var(--spacing-0-5) var(--colors-shadow-strong);
  --theme-shadow-md:
    var(--spacing-none) var(--spacing-0-25) var(--spacing-3) var(--spacing-none) var(--colors-shadow-light),
    var(--spacing-none) var(--spacing-1) var(--spacing-2) var(--spacing-1) var(--colors-shadow-strong);
  --theme-shadow-lg:
    var(--spacing-none) var(--spacing-0-25) var(--spacing-3) var(--spacing-none) var(--colors-shadow-strong),
    var(--spacing-none) var(--spacing-2) var(--spacing-3) var(--spacing-2) var(--colors-shadow-strong);
  --theme-shadow-xl:
    var(--spacing-none) var(--spacing-0-25) var(--spacing-3) var(--spacing-none) var(--colors-shadow-light),
    var(--spacing-none) var(--spacing-4) var(--spacing-4) var(--spacing-2) var(--colors-shadow-strong);
  --theme-shadow-2xl:
    var(--spacing-none) var(--spacing-0-25) var(--spacing-3) var(--spacing-none) var(--colors-shadow-light),
    var(--spacing-none) var(--spacing-6) var(--spacing-6) var(--spacing-2) var(--colors-shadow-strong);

  /* Default theme values */
  --tw-ring-offset-width: 0.125rem;
  --tw-ring-color: var(--color-surface-action);
  --tw-ring-offset-color: var(--color-surface-page);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

@media (min-width: 64em) {
  :root {
    /* Desktop overrides */
    --token-text-sm: var(--desktop-font-size-body-sm);
    --token-text-sm--line-height: var(--desktop-line-height-body-sm);
    --token-text-md: var(--desktop-font-size-body-md);
    --token-text-md--line-height: var(--desktop-line-height-body-md);
    --token-text-lg: var(--desktop-font-size-body-lg);
    --token-text-lg--line-height: var(--desktop-line-height-body-lg);

    --token-text-h1: var(--desktop-font-size-heading-h1);
    --token-text-h1--line-height: var(--desktop-line-height-heading-h1);
    --token-text-h1--font-weight: var(--desktop-font-weight-heading-h1);
    --token-text-h2: var(--desktop-font-size-heading-h2);
    --token-text-h2--line-height: var(--desktop-line-height-heading-h2);
    --token-text-h2--font-weight: var(--desktop-font-weight-heading-h2);
    --token-text-h3: var(--desktop-font-size-heading-h3);
    --token-text-h3--line-height: var(--desktop-line-height-heading-h3);
    --token-text-h3--font-weight: var(--desktop-font-weight-heading-h3);
    --token-text-h4: var(--desktop-font-size-heading-h4);
    --token-text-h4--line-height: var(--desktop-line-height-heading-h4);
    --token-text-h4--font-weight: var(--desktop-font-weight-heading-h4);
    --token-text-h5: var(--desktop-font-size-heading-h5);
    --token-text-h5--line-height: var(--desktop-line-height-heading-h5);
    --token-text-h5--font-weight: var(--desktop-font-weight-heading-h5);
    --token-text-h6: var(--desktop-font-size-heading-h6);
    --token-text-h6--line-height: var(--desktop-line-height-heading-h6);
    --token-text-h6--font-weight: var(--desktop-font-weight-heading-h6);

    --token-text-overline: var(--desktop-font-size-heading-overline);
    --token-text-overline--line-height: var(--desktop-line-height-heading-overline);

    --token-text-action-button: var(--desktop-font-size-action-button);
    --token-text-action-button--line-height: var(--desktop-line-height-action-button);
    --token-text-action-button--font-weight: var(--desktop-font-weight-action-button);
  }
}

.dark {
  /* Add dark colors here if dark mode needs to be implemented */
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
}

@theme inline {
  /* fonts */
  --font-headlines: var(--font-primary);
  --font-body: var(--font-secondary);

  /* Text tokens (source via :root tokens) */
  --text-*: initial;
  --text-sm: var(--token-text-sm);
  --text-sm--line-height: var(--token-text-sm--line-height);
  --text-base: var(--token-text-md);
  --text-base--line-height: var(--token-text-md--line-height);
  --text-lg: var(--token-text-lg);
  --text-lg--line-height: var(--token-text-lg--line-height);

  --text-xl: var(--token-text-overline);
  --text-xl--line-height: var(--token-text-overline--line-height);
  --text-2xl: var(--token-text-h6);
  --text-2xl--line-height: var(--token-text-h6--line-height);
  --text-2xl--font-weight: var(--token-text-h6--font-weight);
  --text-3xl: var(--token-text-h5);
  --text-3xl--line-height: var(--token-text-h5--line-height);
  --text-3xl--font-weight: var(--token-text-h5--font-weight);
  --text-4xl: var(--token-text-h4);
  --text-4xl--line-height: var(--token-text-h4--line-height);
  --text-4xl--font-weight: var(--token-text-h4--font-weight);
  --text-5xl: var(--token-text-h3);
  --text-5xl--line-height: var(--token-text-h3--line-height);
  --text-5xl--font-weight: var(--token-text-h3--font-weight);
  --text-6xl: var(--token-text-h2);
  --text-6xl--line-height: var(--token-text-h2--line-height);
  --text-6xl--font-weight: var(--token-text-h2--font-weight);
  --text-7xl: var(--token-text-h1);
  --text-7xl--line-height: var(--token-text-h1--line-height);
  --text-7xl--font-weight: var(--token-text-h1--font-weight);

  --text-action-button: var(--token-text-action-button);
  --text-action-button--line-height: var(--token-text-action-button--line-height);
  --text-action-button--font-weight: var(--token-text-action-button--font-weight);

  /* Figma foreground colors */
  /* `Initial` overrides all colors provided by tailwind */
  --color-*: initial;
  --color-text-headings: var(--color-text-headings);
  --color-text-body: var(--color-text-body);
  --color-text-action: var(--color-text-action);
  --color-text-action-hover: var(--color-text-action-hover);
  --color-text-disabled: var(--color-text-disabled);
  --color-text-information: var(--color-text-information);
  --color-text-success: var(--color-text-success);
  --color-text-warning: var(--color-text-warning);
  --color-text-error: var(--color-text-error);
  --color-text-on-action: var(--color-text-on-action);
  --color-text-on-disabled: var(--color-text-on-disabled);
  --color-text-placeholders: var(--color-text-placeholders);

  /* Figma background colors */
  --color-surface-page: var(--color-surface-page);
  --color-surface-primary: var(--color-surface-primary);
  --color-surface-secondary: var(--color-surface-secondary);
  --color-surface-action: var(--color-surface-action);
  --color-surface-action-hover: var(--color-surface-action-hover);
  --color-surface-action-hover-2: var(--color-surface-action-hover-2);
  --color-surface-error: var(--color-surface-error);
  --color-surface-warning: var(--color-surface-warning);
  --color-surface-success: var(--color-surface-success);
  --color-surface-information: var(--color-surface-information);
  --color-surface-disabled: var(--color-surface-disabled);
  --color-surface-hover-grey: var(--color-surface-hover-grey);
  --color-surface-disabled-selected: var(--color-surface-disabled-selected);
  --color-surface-neutral: var(--color-surface-neutral);
  --color-surface-image-background: var(--color-surface-image-background);
  --color-surface-search-input: var(--color-surface-search-input);

  /* Figma icon colors */
  --color-icon-action: var(--color-icon-action);
  --color-icon-primary-dark: var(--color-icon-primary-dark);
  --color-icon-action-hover: var(--color-icon-action-hover);
  --color-icon-on-action: var(--color-icon-on-action);
  --color-icon-on-disabled: var(--color-icon-on-disabled);
  --color-icon-neutral: var(--color-icon-neutral);
  --color-icon-secondary: var(--color-icon-secondary);
  --color-icon-information: var(--color-icon-information);
  --color-icon-success: var(--color-icon-success);
  --color-icon-warning: var(--color-icon-warning);
  --color-icon-error: var(--color-icon-error);

  /* Figma border colors */
  --color-border-primary: var(--color-border-primary);
  --color-border-secondary: var(--color-border-secondary);
  --color-border-information: var(--color-border-information);
  --color-border-success: var(--color-border-success);
  --color-border-warning: var(--color-border-warning);
  --color-border-error: var(--color-border-error);
  --color-border-disabled: var(--color-border-disabled);
  --color-border-action: var(--color-border-action);
  --color-border-action-hover: var(--color-border-action-hover);
  --color-border-focus: var(--color-border-focus);
  --color-border-black: var(--color-border-neutral-black);
  --color-border-white: var(--color-border-neutral-white);

  /* Gradients */
  --color-gradient-primary-start: var(--color-gradient-primary-start);
  --color-gradient-primary-end: var(--color-gradient-primary-end);
  --color-gradient-secondary-start: var(--color-gradient-secondary-start);
  --color-gradient-secondary-end: var(--color-gradient-secondary-end);

  /* Radius */
  --radius-*: initial;
  --radius: var(--border-radius-md);
  --radius-none: var(--border-radius-none);
  --radius-sm: var(--border-radius-sm);
  --radius-md: var(--border-radius-md);
  --radius-lg: var(--border-radius-lg);
  --radius-xl: var(--border-radius-xl);
  --radius-2xl: var(--border-radius-2xl);
  --radius-button: var(--border-radius-button);
  --radius-form-field: var(--border-radius-form-field);
  --radius-pills: var(--border-radius-pills);
  --radius-notification: var(--border-radius-notification);

  /* Spacing */
  --spacing: var(--spacing-1);

  /* Container */
  --container-6xl: var(--theme-container-6xl);
  --container-7xl: var(--theme-container-7xl);

  /* Shadow */
  --shadow-*: initial;
  --shadow-xs: var(--theme-shadow-xs);
  --shadow-sm: var(--theme-shadow-sm);
  --shadow-md: var(--theme-shadow-md);
  --shadow-lg: var(--theme-shadow-lg);
  --shadow-xl: var(--theme-shadow-xl);
  --shadow-2xl: var(--theme-shadow-2xl);

  /* Blur */
  --blur-*: initial;
  --blur-default: calc(var(--spacing-4) / 2);

  /* Breakpoints */
  /* mobile default */
  /* tablet -> sm */
  /* desktop (min) -> md */
  /* desktop (max) -> lg */
  --breakpoint-*: initial;
  --breakpoint-sm: 48rem; /* 768px */
  --breakpoint-md: 64rem; /* 1024px */
  --breakpoint-lg: 80rem; /* 1280px */

  /* Chart */
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
}

/* Border Width, assigned to border-w classGroups in src/lib/utils.ts */
@theme {
  --border-width-sm: var(--border-width-sm);
  --border-width-md: var(--border-width-md);
  --border-width-lg: var(--border-width-lg);
  --border-width-button: var(--border-width-button);
  --border-width-form-field: var(--border-width-form-field);
  --border-width-pills: var(--border-width-pills);
  --border-width-notification: var(--border-width-notification);
  --border-width-focus: var(--border-width-focus);
}
@utility border-width-* {
  @apply border-solid;
  border-width: --value(--border-width-*);
}

@layer base {
  * {
    @apply border-border-primary outline-border-focus font-body;
  }

  body {
    @apply bg-surface-page text-text-body;
  }

  .hide-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera */
  }
}

[data-sonner-toaster][data-sonner-theme='light'] {
  width: 100%;
}

[data-sonner-toaster='true'] {
  max-width: 120rem;
}
